/node_modules
/storage
/vendor
/public/storage
/public/logs
/public/cert
/public/jpush.log
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock